-- Usage tracking table for analytics and enforcement
CREATE TABLE IF NOT EXISTS usage_tracking (
	id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
	user_id UUID REFERENCES users(id) ON DELETE CASCADE,
	type TEXT CHECK (type IN ('sms', 'email')),
	count INTEGER DEFAULT 0,
	month TEXT,
	tier TEXT,
	last_updated TIMESTAMP DEFAULT NOW()
);

-- Index for fast lookup by user/month/type
CREATE INDEX IF NOT EXISTS idx_usage_tracking_user_month_type ON usage_tracking (user_id, month, type);
Need to install the following packages:
supabase@2.76.15
