warning: in the working copy of 'jsconfig.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'tsconfig.json', LF will be replaced by CRLF the next time Git touches it
components/DashSide.old.js
components/Layout.js
components/TopNav.js
jsconfig.json
lib/entitlements.js
lib/sendEmail.js
next.config.mjs
package-lock.json
package.json
pages/_app.js
pages/_document.js
pages/account.js
pages/api/billing/webhook.js
pages/api/email/campaigns/create.js
pages/api/email/campaigns/send.js
pages/api/lead/submit.js
pages/api/paypal/capture-order.js
pages/api/paypal/create-order.js
pages/assets.js
pages/billing.js
pages/builder/[pageId].js
pages/checkout/index.js
pages/checkout/success.js
pages/components/NavBar.old.js
pages/email/index.js
pages/leads.js
pages/login.js
pages/modules/[module].js
pages/modules/[slug] old.js
pages/modules/_guard.js
pages/modules/affiliate-management.js
pages/modules/affiliate-marketplace.js
pages/modules/booking-calendar.js
pages/modules/business-automation.js
pages/modules/communities.js
pages/modules/digital-products.js
pages/modules/email-marketing.js
pages/modules/email/automations.js
pages/modules/email/broadcast.js
pages/modules/email/campaigns.js
pages/modules/email/campaigns/new.js
pages/modules/email/index.js
pages/modules/email/send-campaign.js
pages/modules/email/settings.js
pages/modules/email/subscribers.js
pages/modules/email/templates.js
pages/modules/evergreen-webinars.js
pages/modules/funnels/index.js
pages/modules/index.js
pages/modules/online-courses.js
pages/modules/physical-products.js
pages/modules/pipelines.js
pages/modules/social-media.js
pages/modules/subaccounts.js
pages/modules/website-builder.js
pages/onboarding.js
pages/p/[slug].js
pages/templates.js
public/app-logo.svg
public/favicon.ico
public/favicon2.ico
public/file.svg
public/globe.svg
public/next.svg
public/templates/wp-landing-1.html
public/vercel.svg
public/window.svg
styles/globals.css
templates/optin-long/index.html
templates/optin-short/index.html
templates/sales-long/index.html
templates/sales-short/index.html
tsconfig.json
utils/supabase-client.js
